{% extends "base.html" %}
{% block content %}
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <center>
        <br><h1 class="jumbotron-heading">About The Creators</h1><br>
<div style="width:image width px; font-size:80%; text-align:center;">
    <img src="cinqueterre.jpg" class="rounded-circle" style="padding-bottom:0.5em;"/>Caption</div>

<div style="width:image width px; font-size:80%; text-align:center;">
    <img src="cinqueterre.jpg" class="rounded-circle" style="padding-bottom:0.5em;"/>Caption</div>

<div style="width:image width px; font-size:80%; text-align:center;">
    <img src="cinqueterre.jpg" class="rounded-circle" style="padding-bottom:0.5em;"/>Caption</div>
    </center>

</body>

{% endblock %}