{% extends 'base.html' %}
{% block content %}

<!-- <html>
    <script src="/experience.js"></script> 
<body>
<form action="/experiences/save" method="post"> 
<p><h2>Add Experience</h2></p>
  <p>Location
 <select name='state'>
    <option>Select State</option>
    <option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District Of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
  <select>
      </p>
<p>City: <input type='text', name='city'></input></p>
  
  <p>Experience Name: 
      <input type="text", name="experiencename"><br><br></input>
  </p>
  <p>Description:
     <textarea id="description", name='description', rows="10", cols="36"></textarea></p>
  <p> Date: 
    <input type="date" id="date" name="date"> </p>
  <p>Time: </p>
  <p>Start
   <input type='time' name='starttime' id='time'></p>
 <p>End
   <input type='time' name='endtime' id='time'></p>

  <p>Category: 
  <select name='category'>
  <option>Select Option</option>
  <option value="adventure">Adventure</option>
  <option value="relax">Relaxation</option>
  <option value="culture">Culture</option>
 </select>
  </p>
  
  <p>Estimated Price: </p>
  
<p>Use the slider to increment or decrement value.</p>  -->
<!--   
<div class="rangeslider"> 
  <input type="range" min="0" max="500" id="sliderRange" name='price'> 
  <p>Value: $<span id="number"></span></p> 
</div>  -->
<html>
    <script src="/experience.js"></script> 
<body>
    <div class="mx-auto"><div class="p-3 border bg-light">
        <form action="/experiences/save" method="post"> 
            <p><h2>Add Experience</h2></p>

        <div class='form-group'>
            <label for="city">City</label>
            <input type='text' class="form-control" id='city' name='city'></input>
        </div>

        <div class='form-group'>
            <label for="state">State</label>
            <select class="form-control" id="state" name='state'>
                <option>Select State</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            <select>
            </p>
        </div>

        <div class='form-group'>
            <label for="experiencename">Experience Name</label>
            <input type="text" class="form-control" id="experiencename" name='experiencename'></input>
        </div>

        <div class='form-group'>
            <label for="description">Description</label>
            <textarea id="description" class="form-control" rows="10" name='description'></textarea>
        </div>

        <div>
            <label for="date">Date</label>
            <input type='date' class="form-control" id='date' name='date'>
        </div>

        <div class='form-group'>
            <label for="starttime">Start Time</label>
            <input type='time' class="form-control" id='starttime' name='starttime'>
        </div>

        <div class='form-group'>
            <label for="endtime">End Time</label>
            <input type='time' class="form-control" id='endtime' name='endtime'>
        </div>

        <div class='form-group'>
            <label for="category">Category</label>
            <select class="form-control" id="category" name='category'>
                <option>Select Option</option>
                <option value="adventure">Adventure</option>
                <option value="relax">Relaxation</option>
                <option value="culture">Culture</option>
            </select>
        </div>
    
        <div class="rangeslider"> 
            <label for="price">Price</label>
            <input type="text" id="price" class='form-control' name='price'> 
        </div> <br>

        <input type='submit' onclick="alert('Experience has been submitted!')" class="btn btn-outline-dark" value='Submit Experience'>
        </form>
    </div></div>
</body>
</html>

{% endblock %}