
{% extends 'base.html' %}
{% block content %}

<head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
{% for experiences in requests %}
<center>
<br><h3 class="jumbotron-heading">Your Experiences</h3><br>
<div class='boxed'>
<div class="card" style="width: 18rem;">
  <div class="experience-body">
    <h5 class="experience-name">{{requests.experiencename}}</h5>
    <h6 class="experience-location mb-2 text-muted"><small>{{requests.city}}, {{requests.state}}</small></h6>
    <p class="experience-date">Date: {{requests.date}}</p>
    <p class="experience-time">Time: {{requests.starttime}} - {{requests.endtime}}</small></p>
    <p class="experience-price">Price: {{requests.price}}</p>
    <p class="experience-description">Description: {{requests.description}}</p>
  <br>
</center>
  </div>
</div>

<head>
{% endfor %}

{% endblock %}