{% extends 'base.html' %}
{% block content %}

{% if profile_save %}
<h1> Profile saved! </h1>
{% endif %}

<h1> Hello {{firstname}} {{lastname}}</h1>
<h2> Welcome to Local, a platform meant to bridge travellers and locals around the world to experience the hidden gems of the world! </h2>
<h3> Your Profile </h3>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{firstname}}</h4>
                    <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                    </i></cite></small>
                    <p>
    First Name: {{firstname}} <br><br>
    Last Name: {{lastname}} <br><br>
    Email: {{email}} <br><br>
    Address: {{address}} <br><br>
    City: {{city}} <br><br>
    State: {{state}} <br><br>
    Zip Code:{{zipcode}} <br><br>
    Country:{{country}} <br><br>
    Current Role: {{role}} <br><br>

{% endblock %}