<!DOCTYPE html>
<html lang="en">
   <head>
   <body>
      <h1>
         <div class="container-fluid">
            <a class="local" href=''><img src='https://lh3.googleusercontent.com/bT_FotIsBNGkBehM3HGF28dAahtkczaquVxIrsBN2Dffw9KQyt-BzUKlLoNknVLTsZ0V_hxYpEtoZAdbrYhL0q_AOyyx0XQd-UxUGwjljouBnLNH1ZvyTaWJo6ePS3ZKJShlUCVA=w2400' /></a>
            <a class="bckgrd" href='https://photos.google.com/share/AF1QipP3nP9ZL1706C_eMWvTzgxT1tBtw1efJv9r9kbuKe3hEX-Ac_0MS5q_yfMAQ0Fc7w?key=bXlxR2lPUThIZGdfbEhwYVJOZXRCMG9DSHFVNE93&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/ibqdszcQV3VQ3nWeBTpsLD1ejxMVWF34V1NVbPgBiJA9bUmlhHxQ0rF0TQ22j8tOXo2xsyCILaR-LeuvUUubwW6KIoUR55Fu_11Ht-JQvT1SZiMMHuEadp4xxQWoA7--QIIVlL1-=w2400' /></a>
         </div>
      </h1>
      <div class="sticky">
         <nav class="navbar navbar-inverse">
            <div class="navbar-header">
               <a class="navbar-brand" href="#"></a>
            </div>
            <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account<span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li>
                     <a href=''>Sign In</a>
                  </li>
                  <li>
                  </li>
                  <li> 
                  </li>
               </ul>
            </li>
            <li class="dropdown">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#">Experience<span class="caret"></span></a>
               <ul class="dropdown-menu">
                  <li>
                     <a href='/experiences/manage'>Manage</a>
                  </li>
                  <li>
                     <a href='/experiences/create'>Create</a>
                  </li>
                  <li>
                     <a href='/experiences/future'>Future</a>
                  </li>
                  <li>
                     <a href='/experiences/future'>Future Experiences</a>
                  </li>
               </ul>
            </li>
            <ul class="nav navbar-nav navbar-right">
               <li>
                  <a href=''><span class="glyphicon glyphicon-user"></span> Sign Up</a>
               </li>
               <li>
                  <a href='/_cloudshellProxy/_ah/logout?continue=https://8080-dot-8033456-dot-devshell.appspot.com/'><span class="glyphicon glyphicon-log-in"></span> Login</a>
               </li>
            </ul>
            <li class="active">
               <a href="#">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <form class="form-inline mr-auto">
                        <div class="md-form my-0">
                           <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                           <i class="fas fa-search text-white ml-3" aria-hidden="true"></i>
                        </div>
                     </form>
                  </div>
               </a>
            </li>
            </ul>
      </nav>
      </div>
      <div class="container">
         <div class='boxed'>
            Experience Name:
            bqehjb <br> 
            <!-- this hard codes the changes, so if you wanted to add more information to experience view, you must change it in socialdata and then add price -->
            <!-- add button tag inside this for loop so that it may be applied everytime -->
            Experience City:
            ebhwkr <br>
            Experience State:
            <br>
            Experience Date:
            2019-08-10 <br>
            Experience Descripton:
            <br>
            Experience Date:
            2019-08-10 <br>
            Experience Price:
            <br>
            <a href="/requestexperience?id=4785074604081152" > Join Experience! </a>
         </div>
         <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
               <div class="col-md-4">
                  <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image">
                     <title>Placeholder</title>
                     <rect width="100%" height="100%" fill="#868e96"></rect>
                     <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
                  </svg>
               </div>
               <div class="col-md-8">
                  <div class="card-body">
                     <h5 class="card-title">Card title</h5>
                     <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>