{% extends "base.html" %}
{% block content %}
{% for experience in experiences %}

<center>
<br><h3 class="jumbotron-heading">Experiences for {{experience.city}}, {{experience.state}}</h3><br>
<div class='boxed'>
<div class="card" style="width: 18rem;">
  <div class="experience-body">
    <h5 class="experience-name">{{experience.experiencename}}</h5>
    <h6 class="experience-location mb-2 text-muted"><small>{{experience.city}}, {{experience.state}}</small></h6>
    <p class="experience-date">Date: {{experience.date}}</p>
    <p class="experience-time">Time: {{experience.starttime}} - {{experience.endtime}}</small></p>
    <p class="experience-price">Price: {{experience.price}}</p>
    <p class="experience-description">Description: {{experience.description}}</p>
    <a href="/requestexperience?id={{experience.key.id}}" onclick="alert('Request to Join Experience has been Sent!')"> Request to Join Experience! </a>
  <br><br>
  </div>
</div>
</div>
</center>

<style>
a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>

{% endfor %}   

{% endblock %}