{% extends "base.html" %}
{% block content %}

<style>
    .boxed{
    border: 1px solid green ;
    }
    </style>
<body>
{% for experience in experiences %}
<div class='boxed'>
Experience Name:
    {{experience.experiencename}} <br> 
    <!-- this hard codes the changes, so if you wanted to add more information to experience view, you must change it in socialdata and then add price -->
    <!-- add button tag inside this for loop so that it may be applied everytime -->
Experience City:
    {{experience.city}} <br>
Experience State:
    {{experience.state}} <br>
Experience Date:
    {{experience.date}} <br>
Experience Descripton:
    {{experience.description}} <br>
Experience Date:
    {{experience.date}} <br>
Experience Price:
    {{experience.price}} <br>
<a href="/requestexperience?id={{experience.key.id}}" onclick="alert('Request to Join Experience has been Sent!')"> Join Experience! </a>
    </div>
{% endfor %}   

{% endblock %}